/* IMPULSE Main Styles for Handhelds*/

.class {
	width:			120px;
	height:			120px;
	font-family:	console;
	color:			white;
	font-size:		10px;
	line-height:	20px;
	margin-left:	auto;
	margin-right:	auto;
}

#id {
	width:			120px;
	height:			120px;
	font-family:	console;
	color:			white;
	font-size:		10px;
	line-height:	20px;
	margin-left:	auto;
	margin-right:	auto;
}

@font-face {
	font-family: console;
	src: url(../media/lucon.ttf) format("truetype");
}
