body {
	background-color: #0C141F;
	color: white;
	/*
	background-image:url('http://www.celebrityfanweb.com/wallpapers/TRON-Legacy/images/TRON%20Legacy%20Wallpaper%2018.jpg');
	background-repeat:no-repeat;
	background-position: center;
	*/
}
