body {
	font-family:arial, helvetica;
	font-size: 1em;
	#font-size: 9pt;
}

.content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	width: 100%;
	height: 96px;
	background-color: #d4d0c8;
}

.sidebar {
	width: 199px;
	border: 1px solid black;
	float: left;
	height: 10%;
}

.information {
	width: 998px;
	border: 1px solid black;
	float: left;
	margin-left: -1px;
	font-size: 9pt;
}

.data {
	width: 100%;
}

.header_title_container {
	float: left;
	height: 100%;
	height: 64px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}

.header_title_container em {
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
}

.error_box {
	width: 50%; 
	border: 1px solid black; 
	margin-left: auto; 
	margin-right: auto; 
	min-height: 64px; 
	margin-top: 1em; 
	margin-bottom: 1em; 
	padding: 5px;
}

.error_box img {
	width: 64px;
	height: 64px;
	float: right;
}

.error_box_message {
	padding: 5px;
}

.infobar {
	width: 100%; 
	text-align: center; 
	border-top: 1px solid black; 
	line-height:24px;
	font-size: 11pt;
}

.infobar_text {
	font-size: 80%;
	#font-size: 8pt;
}

.footer {
	width: 898px; 
	height: 2em; 
	line-height: 2em; 
	border: 1px solid black; 
	text-align: center; 
	float: left; 
	margin-top: -1px; 
	font-size: 8pt;
}

#helpDiv { 
	display:none; 
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 1px solid black;
	padding: 1%;
	/**background-color: lightgray;**/
	background-color: #CBEFFD;
}

#helpDiv em {
	font-weight: bold;
	font-style: normal;
}
