.system_resource_container {
	width: 50%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.system_resource_title {
	color: white;
	background-color: #0E0E78;
	border: 1px solid black;
	height: 48px;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
}

.system_resource_information {
	background-color: #CCCCCC;
	color: black;
	border: 1px solid black;
	border-top: none;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
}

.system_resource_information table {
	width: auto;
	margin-left:auto;
	margin-right: auto;
}

.system_resource_information em {
	font-weight: bold;
	font-style: normal;
}

.system_date_bar {
	color: white;
	background-color: #0E0E78;
	border: 1px solid black;
	border-top: 0px;
	height: 24px;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	font-size: 10pt;
	text-valign: middle;
	line-height: 24px;
}