/* IMPULSE Main Styles for All Devices*/

@font-face {
	font-family: console;
	src: url(../media/lucon.ttf) format("truetype");
}

/*
	System Overview Box Container - Might be able to deprecate
*/
.content {
	width: 768px;
	height: auto;
	margin: auto;
	text-align: center;
}

.content a img {
	border: none;
}

.content a {
	text-decoration: none;
	color: black;
}

.htmltooltip {
	position: absolute; /*leave this and next 3 values alone*/
	z-index: 1000;
	left: -1000px;
	top: -1000px;
	background: #272727;
	color: white;
	padding: 5px;
	min-width: 634px; /*width of tooltip*/
}

#footer {
	width: auto;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	background-color: $eeeeee;
	border: 1px solid black;
}

.content_detail_heading_container {
	color: white;
	background-color: #6f7dc7;
	border: 1px solid black;
	height: 24px;
	margin-top: 16px;
	/*width: 256px;*/
}

.content_detail_heading_container span {
	width: auto;
	float: left;
	font-weight: bold;
	line-height: 24px;
	padding-left: 10px;
}

.content_detail_heading_container em {
	font: inherit;
	font-weight: normal;
}


/********************************************/
/* Title Bar */
.content_title_container {
	color: white;
	/*background-color: #6f7dc7;*/
	background-color: #780e0e;
	border: 1px solid black;
	height: 48px;
	/*width: 256px;*/
}

.content_title_container span {
	width: auto;
	float: left;
	font-weight: bold;
	line-height: 48px;
	padding-left: 10px;
}

.content_title_container img {
	width: 48px;
	height: 48px;
	float: right;
}

.content_title_container em {
	font: inherit;
	font-weight: normal;
}
/* End Title Bar */
/********************************************/

.system_interfaces_container {
	color: black;
	background-color: #cccccc;
	width: auto;
	height: auto;
	min-height: 70px;
	border: 1px solid black;
	margin-bottom: 10px; /* Space between boxes */
	padding: 10px;
	padding-bottom: 10px;
	border-top: none;
}

.system_information_container {
	width: auto;
	height: auto;
	min-height: 70px;
	border: 1px solid black;
	margin-bottom: 10px;
	border-top: none;
	background-color: #cccccc;
	padding: 10px;

}

.system_information_container table {
	text-align: left;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.system_information_container em {
	font: inherit;
	font-weight: bold;
}


.interface_overview_container {
	width: 642px;
	height: auto;
	min-height: 48px;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	line-height: 48px;
	background-color: white;
	color: black;
}

.interface_overview_container img {
	width: 48px;
	height: 48px;
	float: left;
}

.interface_overview_container_info {
	width: 187px;
	float: left;
	line-height: 48px;
	padding-left: 10px;
	border-left: 1px solid black;
}

.interface_overview_container_info_details {
	background-color: white;
	color: black;
	padding: 5px;
	line-height: 16px;
	height: auto;
	text-align: left;
	border-top: 1px solid black;
}

.interface_overview_container_info_details table {
	text-align: left;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
