/* Navigation bar container */
.navbar {
	width: 100%;
	height: 3em;
	border-bottom: 1px solid black;
	background-color: #39516b;
	color: white;
	line-height: 1.5em;
	font-size: 11pt;
}

/* Right aligned item */
.nav_item_right {
	float: right;
	padding-left: .5em;
	padding-right: .5em;
	background-color: #7b869c;
	margin-left: .25em;
	margin-right: .25em;
	border: 1px solid white;
	border-bottom: none;
	text-align: center;
	height: 1.2em;
	margin-top: .3em;
	line-height: 1.2em;
}

/* Right aligned item as a link */
a .nav_item_right {
	color: white;
}

/* Right aligned item text */
.nav_item_right span {
	#font-size: 70%;
	font-size: 8pt;
}

/* Left aligned item */
.nav_item_left {
	float: left;
	padding-left: .5em;
	padding-right: .5em;
	background-color: #7b869c;
	margin-left: .25em;
	margin-right: .25em;
	border: 1px solid white;
	border-bottom: none;
	text-align: center;
	height: 1.2em;
	margin-top: .3em;
	line-height: 1.2em;
}

/* Right aligned item as a link */
a .nav_item_left {
	color: white;
}

/* Right aligned item text */
.nav_item_left span {
	#font-size: 70%;
	font-size: 8pt;
}

/* Nav bar title */
.nav_title {
	font-weight: bold; 
	margin-left: 5px; 
	width: auto; 
	float: left;
}

/* Nav bar user information */
.nav_user {
	margin-right: 5px; 
	width: auto; 
	float: right;
}
